<html>

<head>
    <title>Novo Contato</title>

    <style>
        body {
            font-family: Arial;
            margin: 40px;
            background: #f5f6fa;
        }

        input {
            padding: 8px;
            width: 300px;
        }

        button {
            padding: 10px 20px;
            background: #0984e3;
            color: white;
            border: none;
            border-radius: 5px;
        }
    </style>

</head>

<body>

    <h1>Novo Contato</h1>

    <form action="/novo" method="POST">

        <input name="provedor" placeholder="Provedor" required><br><br>
        <input name="cidade" placeholder="Cidade"><br><br>
        <input name="estado" placeholder="Estado"><br><br>
        <input name="telefone" placeholder="Telefone"><br><br>
        <input name="contato" placeholder="Contato"><br><br>
        <input name="data" placeholder="Data"><br><br>
        <input name="produto" placeholder="Produto"><br><br>
        <input name="observacao" placeholder="Observação"><br><br>

        <button type="submit">Salvar</button>

    </form>

</body>

</html>